.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  .boldLabel {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .errorInput {
    border-color: red;
    background-color: #ffe6e6; /* Светло-красный фон при ошибке */
  }
  
/*   
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  } */
  
  .submitButton {
    width: 100%;
    background-color: #296db6;
    color: white;
    padding: 10px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: hsl(211, 97%, 28%);
  }
  
  /* .error {
    color: red;
    font-size: 12px;
  } */